<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    
  <div class="w-full h-full bg-zinc-900 text-white">
    <nav class="p-10 text-sm text-zinc-500">
      <a href="/read">Check All Users</a>
    </nav>

    <div class="p-10 pt-0 space-y-5">
      <h1 class="text-teal-500 font-semibold text-2xl">Create User</h1>
      <form class="flex flex-col w-1/3 gap-y-3" action="/create" method="post">
        <input class="border-2 bg-transparent outline-none px-5 py-2 rounded-lg" type="text" name="name" placeholder="Name">
        <input class="border-2 bg-transparent outline-none px-5 py-2 rounded-lg" type="text" name="email" placeholder="Email">
        <input class="border-2 bg-transparent outline-none px-5 py-2 rounded-lg" type="text" name="image" placeholder="Image">
        <input class="bg-teal-500 rounded-lg px-5 py-2 font-semibold cursor-pointer" type="submit" value="Create User">
      </form>
    </div>
  </div>
  
    <script src="js/script.js"></script>
</body>
</html>